/* src/index.css */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  overflow-y: auto;
  overflow-X: hidden; 
  scrollbar-width: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
